body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.red {
  color: #ff3318;
}
.bold {
  font-weight: bold;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.inline-block {
  display: inline-block;
}

.ant-input-number {
  width: 100% !important;
}

.ant-form-item-control-input {
  width: 100%;
}

.app-wrapper {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 15px 25px;
}
.page-wrapper {
  padding-top: 2em;
}

.add-button {
  margin-bottom: 1em;
}

.required-label {
  display: block;
  margin-bottom: .5em;
  font-size: 10.5pt;
}
.asterisk-label {
  position: absolute;
  top: -8px;
  left: -10px;
  z-index: 100;
  font-size: 14pt;
}

.btn-add-margin-left {
  margin-left: 10px;
}

.sale-item-form-row {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-evenly;
}
.sale-item-form-row label {
  flex-grow: 1;
  flex-basis: 0;
  padding-left: 10px;
}
.sale-item-form-row .x-container {
  flex-grow: 0;
  align-self: flex-end;
  padding: 5px;
}
.sale-item-form-row .first-label {
  flex-grow: 4;
  padding-left: 0;
}

.summary-row {
  display: flex;
  width: 150px;
}
.summary-row span {
  flex-grow: 1;
  flex-basis: 0;
  text-align: right;
}
.summary-row span:first-of-type {
  padding-right: 10px;
  flex-grow: 2;
}
.summary-row-last {
  display: flex;
  max-width: 370px;
}
.summary-row-last span {
  flex-grow: 2;
  flex-basis: 0;
  text-align: right;
}
.summary-row-last span:first-of-type {
  flex-grow: 1.5;
  margin-right: 10px;
}
.summary-row-last span:nth-of-type(2) {
  flex-grow: 0.7;
}
.summary-row-last span:nth-of-type(3) {
  flex-grow: 3;
}

.clickable-table-row {
  cursor: pointer;
}

.ant-table-wrapper {
  margin-bottom: 1.5em;
}

.deduction-form-row {
  display: flex;
  justify-content: space-evenly;
}
.deduction-form-row .deduction-type-col {
  width: 100%;
  max-width: 90px;
}
.deduction-form-row .deduction-value-col {
  flex-grow: 2;
  padding-left: 10px;
}

.deduction-value-col.padding-left-22 {
  padding-left: 22px;
}

.add-sale-modal,
.update-sale-modal {
  max-width: 700px !important;
  width: 100% !important;
}
.add-sale-modal .ant-modal-body,
.update-sale-modal .ant-modal-body {
  padding-top: 10px;
}
.add-sale-modal .ant-table-wrapper,
.update-sale-modal .ant-table-wrapper {
  margin-bottom: 25px;
}

.ant-modal-body .ant-form-item {
  margin-bottom: 15px;
}

.reports-wrapper {
  background-color: #f4f4f4;
  padding: 35px;
}
.date-range-container {
  display: inline-block;
}
.date-range-dash {
  margin: 0 8px;
}
.reports-download-btn {
  margin-left: 20px;
}
.reports-cards-container {
  margin-top: 25px;
}
.reports-cards-container .report-table-title {
  font-size: 13pt;
  font-weight: bold;
}
.reports-card-label {
  color: #969696;
  font-size: 14pt;
}
.reports-card-value {
  color: #353535;
  font-size: 22pt;
}

.reports-main-container {
  max-width: 250px;
  width: 100%;
  margin-top: 50px;
  line-height: 30px;
}

.profit-expenses-chart-container {
  width: 100%;
  max-width: 1450px;
  height: 500px;
}

.reports-row {
  display: flex;
  justify-content: space-between;
}

.reports-main-container .ant-divider-horizontal {
  margin: 12px 0;
  background: #e5dfdf;
}

.datepicker-label {
  margin-right: 5px;
}
.succeeding-datepicker-label{
  margin-left: 30px;
}

.ant-table-filter-column {
  margin: 0 !important;
}

@media print {
  body * {
    visibility: hidden;
  }
  #section-to-print, #section-to-print * {
    visibility: visible;
  }
  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }
  .section-to-hide,
  .ant-table-row-expand-icon-cell,
  .ant-table-column-sorter,
  .ant-table-filter-trigger-container,
  .ant-table-filter-trigger,
  .ant-pagination {
    visibility: hidden !important;
    display: none !important;
  }
  .ant-table-tbody > tr.sales-table-row > td{ 
    border-top: solid 2px #dce2ee !important;
  } 
}

.product-detail-mobile .product-img {
  margin: 0 auto 15px auto;
  width: 100%;
  max-width: 500px;
  height: auto;
}
.product-detail-mobile .summary-row,
.expense-detail-mobile .summary-row,
.customer-detail-mobile .summary-row,
.top-product-detail-mobile .summary-row {
  width: 100%;
}
.top-customer-detail-mobile .summary-row {
  width: 180px;
}
.top-customer-detail-mobile .summary-row span {
  text-align: left;
}
.top-customer-detail-mobile .summary-row span:first-of-type {
  flex-grow: 1;
}
.product-detail-mobile .summary-row span,
.expense-detail-mobile .summary-row span,
.customer-detail-mobile .summary-row {
  padding: 10px 5px;
}
.product-detail-mobile .summary-row span:first-of-type {
  flex-grow: 0.1;
}
.expense-detail-mobile .summary-row span:first-of-type {
  flex-grow: 0.2;
}
.customer-detail-mobile .summary-row span:first-of-type {
  flex-grow: 0.1;
}
.top-product-detail-mobile .ant-tag {
  margin: 3px;
}

.datepicker-container {
  display: inline-block;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu {
  margin-top: 0;
}
li.ant-menu-overflowed-submenu {
  line-height: 43px;
}
span.anticon.anticon-menu {
  margin-right: 0;
  font-size: 15pt;
  border: 1px solid #808080;
  border-radius: 3px;
  padding: 5px 7px;
}

.retain-margin{
  margin: 15px;
}

/* RESPONSIVENESS */

/* Sales Table

no-1300
  - subtotal
  - profit

no-900
  - total
  - edit
  - delete

*/

.ant-table-tbody > tr > td.ant-table-cell.ant-table-row-expand-icon-cell {
  padding: 0 !important;
}

/* * {
  border: 1px solid red;
} */

.bring-1300,
.bring-900,
.bring-800,
.bring-750,
.bring-700,
.bring-655,
.bring-550,
.bring-500 {
  display: none !important;
}

@media screen and (max-width: 1300px) {
  .no-1300 {
    display: none !important;
  }
  .bring-1300 {
    display: block !important;
  }
}

@media screen and (max-width: 1000px) {
  .no-1000 {
    display: none !important;
  }
}

@media screen and (max-width: 900px) {
  .no-900 {
    display: none !important;
  }
  .bring-900 {
    display: block !important;
  }
  .ant-modal {
    top: 10px !important;
  }
  .product-detail-mobile .summary-row span:first-of-type {
    flex-grow: 0.15;
  }
  .reports-cards-container .reports-cards-col {
    padding: 8px;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .no-800 {
    display: none !important;
  }
  .bring-800 {
    display: block !important;
  }
}

@media screen and (max-width: 750px) {
  .no-750 {
    display: none !important;
  }
  .bring-750 {
    display: block !important;
  }
}

@media screen and (max-width: 700px) {
  .no-700 {
    display: none !important;
  }
  .bring-700 {
    display: block !important;
  }
  .ant-modal-header {
    padding: 8px !important;
  }
  .ant-modal-body {
    padding: 8px !important;
  }
  
  .add-sale-modal .ant-table tfoot > tr > th,
  .add-sale-modal .ant-table tfoot > tr > td
  .update-sale-modal .ant-table tfoot > tr > th,
  .update-sale-modal .ant-table tfoot > tr > td {
    border-bottom: solid 1px #fff !important;
  }

  .add-sale-modal .ant-table-tbody > tr > td,
  .add-sale-modal .ant-table tfoot > tr > th,
  .add-sale-modal .ant-table tfoot > tr > td,
  .update-sale-modal .ant-table-tbody > tr > td,
  .update-sale-modal .ant-table tfoot > tr > th,
  .update-sale-modal .ant-table tfoot > tr > td {
    padding: 8px 5px !important;
  }

  .add-sale-modal .ant-table-wrapper,
  .update-sale-modal .ant-table-wrapper {
    margin-bottom: 0;
  }

  .product-detail-mobile .summary-row span:first-of-type {
    flex-grow: 0.2;
  }

  .reports-wrapper {
    padding: 15px;
  }
}

@media screen and (max-width: 655px) {
  .no-655 {
    display: none !important;
  }
  .bring-655 {
    display: block !important;
  }
}

@media screen and (max-width: 600px) {
  .date-range-container {
    display: block;
  }
  .datepicker-container {
    width: 47%;
  }
  .datepicker-container .ant-picker {
    width: 100%;
  }
  .reports-download-btn {
    margin-left: 0;
    margin-top: 5px;
    width: 100%;
  }
}

@media (max-width: 575px) {
  .ant-form-item .ant-form-item-label {
      padding: 0;
      line-height: 1;
  }
  .ant-form-item {
    margin: 0 0 8px 0 !important;
  }
}

@media screen and (max-width: 550px) {
  .no-550 {
    display: none !important;
  }

  .bring-550 {
    display: block !important;
  }
  
  .ant-modal {
    max-width: 95% !important;
  }

  .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td {
    padding: 16px 5px !important;
  }
  .add-sale-modal .ant-table-tbody > tr > td,
  .add-sale-modal .ant-table tfoot > tr > th,
  .add-sale-modal  .ant-table tfoot > tr > td,
  .update-sale-modal .ant-table-tbody > tr > td,
  .update-sale-modal .ant-table tfoot > tr > th,
  .update-sale-modal  .ant-table tfoot > tr > td {
    padding: 8px 5px !important;
  }

  .ant-table-thead > tr > th,
  .ant-table-column-sorters {
    padding: 5px !important;
    line-height: 16px;
  }

  .ant-table-thead tr th.ant-table-column-has-sorters .ant-table-filter-column-title {
    padding: 0 1.6em 0 0 !important;
  }

  .app-wrapper {
    padding: 0;
  }

  .page-wrapper {
    padding-top: 1em;
  }

  .product-detail-mobile .product-img {
    max-width: 100%;
  }
  .product-detail-mobile .summary-row span:first-of-type {
    flex-grow: 0.3;
  }

  .reports-wrapper {
    padding: 15px 25px;
  }
  .succeeding-datepicker-label {
    margin-left: 0;
    margin-right: 10px;
    width: 60px;
  }

  .reports-main-container {
    margin: 30px auto 0 auto;
  }
}

@media screen and (max-width: 500px) {
  .no-500 {
    display: none !important;
  }
  .bring-500 {
    display: block !important;
  }
  .customer-detail-mobile .summary-row span:first-of-type {
    flex-grow: 0.25;
  }
}

@media screen and (max-width: 415px) {
  .reports-wrapper {
    padding: 25px 0 0 0;
    margin-top: -15px;
  }
  .date-range-container,
  .totals-grid-container {
    padding: 0 16px;
  }
  .totals-grid-container {
    margin-top: 9px;
  }
  .reports-cards-container .ant-table-wrapper {
    margin-bottom: 0;
  }
  .reports-card-label {
    font-size: 13pt;
  }
  .reports-card-value {
    font-size: 20pt;
  }
  .profit-expense-card .ant-card-body {
    padding: 20px 0 10px 0;
  }
}

@media screen and (max-width: 410px) {
  .datepicker-container {
    width: 46%;
  }
}

@media screen and (max-width: 355px) {
  .expense-detail-mobile .summary-row span:first-of-type {
    flex-grow: 0.4;
  }
}

@media screen and (max-width: 330px) {
  .reports-card-label {
    line-height: 5px;
    font-size: 12pt;
  }
  .reports-card-value {
    font-size: 20pt;
  }
  .top-products-card .ant-card-body,
  .top-categories-card .ant-card-body,
  .top-customers-card .ant-card-body {
    padding: 0;
  }
  .reports-cards-container .report-table-title {
    font-size: 12pt;
    font-weight: bold;
    margin-left: 6px;
    margin-top: 5px;
  }
  .summary-row-last {
    max-width: 140px;
  }
  .summary-row-last span:nth-of-type(3) {
    display: none;
  }
  .summary-row-last span:first-of-type {
    flex-grow: 2;
  }
  .summary-row-last span:nth-of-type(2) {
    flex-grow: 1;
  }
}